@import "@/assets/styles/variables.module.scss";

.property-card {
  position: relative;
  border-radius: 4px;
  background: $white_color;
  box-shadow: 0px 8px 24px rgba(11, 17, 52, 0.2);
  border-radius: 4px;

  .property-card__thumbnail {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 272px;

    .badge {
      z-index: 900;
      position: absolute;
      left: -5px;
      top: 6px;
    }
  }

  .property-card__content {
    background-color: $white_color;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 24px;

    >.content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 0.75rem;

      >.content__heading {
        display: flex;
        gap: 1rem;
        margin-bottom: 0;
        flex: 1;
        flex-wrap: wrap;

        >.heading__icon {
          width: auto;
        }

        >.heading__title {
          display: flex;
          margin-top: -0.25rem;
          flex-direction: column;
          flex: 1;

          >.title {
            font-size: 1.5rem;
            font-weight: 600;
            color: $primary_color;
          }

          >.address {
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 100;
            color: $primary_color_light;
          }
        }

        >.heading__other-info {
          font-style: normal;
          font-weight: 100;
          color: $primary_color;
          flex-basis: 100%;
          font-size: 1rem;
        }
      }

      >.content__info {
        display: flex;
        margin-left: auto;
        align-items: flex-end;
        gap: 0;
        flex-direction: column;
        text-align: right;

        >.content__info-price {
          font-style: normal;
          font-weight: 600;
          color: $primary_color;
          font-size: 1.25rem;
        }

        >.content__info-price-from {
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 100;
          color: $primary_color_light;
        }
      }
    }
  }

  .property-card__description {
    .button-desc {
      font-weight: 600;
      text-align: center;
      color: $secondary_color;
    }

    .description-content {
      font-style: normal;
      font-weight: 100;
      color: $primary_color;
      white-space: pre-line;
    }
  }
}